@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html {
	font-family: Poppins;
	background-color: black;
}

::selection {
  background: rgba(255, 255, 255, 1);
}

.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition-duration: 0.5s;
}

.topnav a:hover {
	background-color: #fa85db;
	color: black;
}

.topnav a.active {
	background-color: #C2088F;
	color: black;
	font-weight: bold;
}

h1 {
	color: rgba(198, 8, 143, 1);
	text-align: center;
	font-size: 35px;
}

h2 {
	color: rgba(198, 8, 143, 1);
	text-align: center;
}

#flex-container {
	display: flex;
	border: none;
	height: 350px;
	padding-left: 60px;
	padding-right: 60px;
}

#flex-container a {
	flex-grow: 1;
	background-color: rgba(198, 8, 143, 1);
	margin: 20px;
	padding-top: 20px;
	width: 0;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	transition-duration: 0.5s;
}

#flex-container a:hover {
	background-color: #fa85db;
	font-weight: bold;
	flex-grow: 2;
}

i {
	color: rgba(198, 8, 143, 1);
}