<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Autore</title>
<link rel="stylesheet" href="/css/mainStyle.css">
<meta charset="UTF-8">
	<style>
	body {
	background-image: url('/images/autoribg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
	</style>
</head>
<body>
<div class="topnav">
  <a href="/home">Home</a>
  <a class="active" href="/autori">Autori</a>
  <a href="/brani" >Brani</a>
  <a href="/utenti" >Utenti</a>
  <a href="/profilo">Profilo</a>
  <a href="/logout">Logout</a>
</div>
<a href="editAutore.html" th:href="@{'/autori' + '/' + ${autore.id} + '/editAutore'}">
	<button>Modifica autore</button>
</a>
<a th:href="@{'/autori' + '/' + ${autore.id} + '/deleteAutore'}">
	<button>Elimina autore</button>
</a>
<h1 th:text = "${autore.nome} + ' ' + ${autore.cognome}">Nome Cognome</h1>
<h2 th:text = "'Data di nascita: ' + ${autore.dataNascita}">Data Nascita</h2>
<h2 th:if = "${autore.dataMorte != null}" th:text = "'Data di morte: ' + ${autore.dataMorte}"></h2>
<h2 th:text = "'Luogo di nascita: ' + ${autore.luogoNascita}">Luogo Nascita</h2>
<h2 th:if = "${autore.luogoMorte != null}" th:text = "'Luogo di morte: ' + ${autore.luogoMorte}"></h2>
<h2 th:text = "'Nazionalità: ' + ${autore.nazionalita}">Nazionalità</h2>
<div>
<table>
<caption>Brani:</caption>
	<tr>
    	<th>Nome</th>
    	<th>Data pubblicazione</th>
  	</tr>
  	<tr th:each = "brano : ${autore.brani}">
  	<td><a th:href="@{'/brani' + '/' + ${brano.id}}" th:text ="${brano.nome}"></a></td>
	<td th:text = "${brano.data}"></td>
	</tr>
</table>
</div>
</body>
</html>