<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/mainStyle.css">
	<meta charset="UTF-8">
	<title>Elenco brani</title>
	<style>
	body {
	background-image: url('/images/branibg.jpg');"
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
	</style>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="topnav">
  <a href="/home">Home</a>
  <a href="/autori">Autori</a>
  <a class="active" href="/brani" >Brani</a>
  <a href="/utenti" >Utenti</a>
  <a href="/profilo">Profilo</a>
  <a href="/logout">Logout</a>
</div>
<a href="/nuovoBrano">
	<button>Nuovo brano +</button> 
</a>
<h1>Brani</h1>
<table>
  <tr>
    <th>Titolo<div><a class="sorter" href="/brani/ascT"><i class="material-icons">arrow_upward</i></a><a
     class="sorter" href="/brani/descT"><i class="material-icons">arrow_downward</i></a></div></th>
    <th>Autore</th>
    <th>Genere</th>
    <th>Data pubblicazione<div><a class="sorter" href="/brani/ascD"><i class="material-icons">arrow_upward</i></a><a
     class="sorter" href="/brani/descD"><i class="material-icons">arrow_downward</i></a></div></th>
  </tr>
  <tr th:each = "brano : ${brani}">
    <td><a href="brano.html" th:href="@{'/brani' + '/' + ${brano.id}}" th:text ="${brano.nome}"></a></td>
    <td th:text = "${brano.autore.cognome}"></td>
    <td th:text = "${brano.genere}"></td>
    <td th:text = "${brano.data}"></td>
  </tr>
</table>
</body>
</html>