<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/indexStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Discotech</title>
</head>

<body>
	<div class="inner cover pad">
		<h1 class="cover-heading">Discotech</h1>
		<h3>la pi&#249; grande libreria musicale del web!</h3>
		<p class="lead">
			<a href="/home" class="cl btn btn-lg btn-default ">Entra nel sito</a>
		</p>
	</div>
</body>

</html>