<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/indexStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Discotech</title>
</head>
<body>
<div class = "row">
	<div class = "column">
	<h1>Discotech</h1>
	</div>
	<div class = "column">
	<h3>Benvenuto in Discotech,</h3>
	<h4>la pi&#249; grande libreria musicale del web!</h4>
	<p><a href="/login">Login</a></p>
	<p><a href="/registrazione">Registrati</a></p>
	<p><a href="/autori">Autori</a></p>
	</div>
</div>
</body>
</html>