<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/formStyle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8">
<title>Nuovo autore</title>
<style>
	body {
	background-image: url('/images/autoribg.jpg');"
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}

	</style>
</head>
<body>
<div class="topnav">
  <a href="/home">Home</a>
  <a class = "active" href="/autori">Autori</a>
  <a href="/brani" >Brani</a>
  <a href="/utenti" >Utenti</a>
  <a href="/profilo">Profilo</a>
  <a href="/logout">Logout</a>
</div>
<h1>Inserimento nuovo autore</h1>
<form th:action="@{/nuovoAutore}" method="POST" th:object="${autore}">
		<div>
			<div>
				<span><input type="text" th:field="*{nome}" placeholder="nome" autocomplete="off"/></span>
			</div>		
			<div>
				<span><input type="text" th:field="*{cognome}" placeholder="cognome" autocomplete="off"/></span>
			</div>
			<div>
				<span><input type="text" th:field="*{dataNascita}" placeholder="data di nascita" autocomplete="off"/></span>
			</div>
			<div>
				<span><input type="text" th:field="*{luogoNascita}" placeholder="luogo di nascita" autocomplete="off"/></span>
			</div>
			<div>
				<span><input type="text" th:field="*{dataMorte}" placeholder="data di morte" autocomplete="off"/></span>
			</div>
			<div>
				<span><input type="text" th:field="*{luogoMorte}" placeholder="luogo di morte" autocomplete="off"/></span>
			</div>
			<div>
				<span><input type="text" th:field="*{nazionalita}" placeholder="nazionalità" autocomplete="off"/></span>
			</div>
			<div>
				<span><button type="submit">Invio<i class="material-icons">done</i></button></span>
			</div>
		</div>
	</form>
</body>
</html>