<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<title>Elenco utenti</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/utentiStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header th:fragment="navbar" class="container-menu">
		<nav class="fixed-top navbar navbar-expand-lg navbar_dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon ic"></span>
			</button>
			<div class="navbar_brand">Discotech<i class="material-icons">audiotrack</i></div>
			<div class="navbar-collapse left">
				<ul class="navbar-nav marginBox">
					<li class="nav-item dropdown">
						<a class=" nav_link" th:href="@{/home}">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav_link" th:href="@{/autori}">Autori</a>
					</li>
					<li class="nav-item ">
						<a class="nav_link" th:href="@{/brani}">Brani</a>
					</li>
					<li class="nav-item ">
						<a class="nav_link1" th:href="@{/utenti}">Utenti</a>
					</li>
					<li class="nav-item ">
						<a class="nav_link" href="#foot">Info</a>
					</li>
				</ul>
			</div>

			<div class="navbar-collapse right">
				<div class="nav-item navButton">
					<a sec:authorize="!isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0 LoginButton1"
						th:href=@{/login}>Login</a>
					<a sec:authorize="!isAuthenticated()" class="btn btn-outline-info my-2 my-sm-0 RegisterButton2"
						th:href=@{/registrazione}>Register</a>
					<a sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0 LogoutButton3"
						th:href=@{/logout}>Logout</a>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="container mar">
			<div class="row">
				<div class="col col-lg-4 padd" th:each="utente : ${utenti}">
					<div class="card p-3 colo">
						<div class="card-header border-0 rounded-0 bgc">
							<script> var ran = new Array(); //array dell'immagine
								ran[0] = "<img src=\"/images/icon/1.png\" class=\"card-img-top random\">";
								ran[1] = "<img src=\"/images/icon/2.png\" class=\"card-img-top random\">";
								ran[2] = "<img src=\"/images/icon/3.png\" class=\"card-img-top random\">";
								ran[3] = "<img src=\"/images/icon/4.png\" class=\"card-img-top random\">";
								ran[4] = "<img src=\"/images/icon/5.png\" class=\"card-img-top random\">";
								ran[5] = "<img src=\"/images/icon/6.png\" class=\"card-img-top random\">";
								ran[6] = "<img src=\"/images/icon/7.png\" class=\"card-img-top random\">";
								ran[7] = "<img src=\"/images/icon/8.png\" class=\"card-img-top random\">";

								var id = Math.round(Math.random() * (ran.length - 1)); //prende una delle immagini che abbiamo scelto

								document.write("" + ran[id] + ""); //mostra l'immagine random

							</script>
						</div>
						<div class="card-body">
							<h5 class="card-title tf" th:text="${utente.nome} + ' ' + ${utente.cognome}"></h5>
						</div>
						<div sec:authorize="hasAuthority('ADMIN')" class="card-footer bg-dark rounded">
							<div class="container p-0 d-flex justify-content-center align-items-center">
								<div class="row m-0 d-flex justify-content-center align-items-center">
									<div class="nav-item navButton marg">
										<a class="btn btn-outline-success my-2 my-sm-0 Button1">Modifica</a>
									</div>
									<div class="nav-item navButton marg">
										<a class="btn btn-outline-success my-2 my-sm-0 Button2">Elimina</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!--<div class="space">
		<h1>Utenti</h1>
		<table>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
			</tr>
			<tr th:each="utente : ${utenti}">
				<td><a th:href="@{'/utente' + '/' + ${utente.id}}" th:text="${utente.nome}"></a></td>
				<td><a th:href="@{'/utente' + '/' + ${utente.id}}" th:text="${utente.cognome}"></a></td>
			</tr>
		</table>
		
		-->
		<section id="foot" class="container-fluid" th:fragment="contatti">
			<div class="container2">
				<div class="title">
					<h1>Per maggiori info</h1>
				</div>
				<div class="row">
					<div class="col col-md-5 contattiText">
						Via Vito Volterra, 62, 00146 Roma<br>
						<a href="mailto:edo.craia@stud.uniroma3.it">didattica.ingegneria@uniroma3.it</a>
						<br>Cell.: +393334455678<br>
						<br>Fax: 0773123456<br>
					</div>
					<div class="col col-sm-2">
						<div class="divider dividerContatti"></div>
					</div>
					<div class="col col-md-5">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5851.368820052638!2d12.466666085080364!3d41.85264939009061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a9240b893d9%3A0x8b6578a5a17ee26a!2sUniversit%C3%A0%20degli%20Studi%20Roma%20Tre%20-%20Ingegneria!5e0!3m2!1sit!2sit!4v1655651364300!5m2!1sit!2sit"
							width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</section>
</body>

</html>